* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: black;
}
#greet {
    margin-top: 1rem;
    margin-bottom: 10px;
}
#beenOnline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
#time {
    margin-top: 7px;
    margin-bottom: 10px;
    color: #ffdeb7;
}
#date {
    margin-top: 7px;
}

#userName {
    display: inline-block;
    color: #efb778;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F78501;
    
}